body {
    /* padding-top: 50px;  */
    padding-top: 50px; 
}

.navbar {
    margin-bottom: 0;
   /* background-color: #336699; */
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    /* line-height: 1.42857143 !important; */
    letter-spacing: 1px;
    border-radius: 0;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important
}
#page-wrapper {
	padding-top:50px;
    padding-left: 200px;
  }
  
  #sidebar-wrapper {
    position: fixed;
    width: 200px;
    height: 100%;
    margin-left: -200px;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  /* 사이드바 스타일 */
  
  .sidebar-nav {
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
  }
  
  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
  }
  
  footer {
	background-color: #f2f2f2;
    padding: 25px;
    padding-left: 200px;
    margin-left: 200px;
}