body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
  
 #sidebar-wrapper {
   position: fixed;
   width: 200px;
   height: 100%;
   margin-left: -200px;
   background: #000;
   overflow-x: hidden;
   overflow-y: auto;
 }
 
 #page-content-wrapper {
   width: 100%;
   /* padding: 20px; */
 }
  /* 사이드바 스타일 */
  
  .sidebar-nav {
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    /* color: #999; */
    color: #999;
  }
  
  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
  }
  .panel-heading a{
  	color: #fff;
  }
  footer {
	background-color: #464646;
	color : #fff;
	/* background-color: #336699; */
    padding: 25px;
    padding-left: 200px;
    margin-left: 200px;
    min-height:200px;
	}
	
@media only screen and (max-width: 768px) {
    .col { 
        display: block;
        width: 100%;
    }
   
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 600px) {
  body {
	   /*  padding-top: 150px;  */
	}	
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 400px) {
  body {
	   /*  padding-top: 50px;  */
	}	
}